<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="Suite">
    <test  name="Test">
        <classes>
            <class name="baseTest.TestCases"/>
            <class name="baseTest.RogersTestCases"/>
            <class name="baseTest.GithubWebsiteTest"/>
            <class name="baseTest.MegaStoreTestCases"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->